::-webkit-scrollbar{
    width: .6vw;
    border-radius: 1vw;
}

::-webkit-scrollbar-track{
    background: #eaeaea;
    border-radius: 1vw;
}

::-webkit-scrollbar-thumb{
    background: #999999;
    transition: 0.5s;
    border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover{
    background: #808080;
    transition: 0.8s;
}
